
<router-outlet></router-outlet>

<div id="layoutAuthentication_footer">
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
      <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; Your Website 2021</div>
        <div>
          <a href="#">Privacy Policy</a>
          &middot;
          <a href="#">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- <ngx-spinner name="default"></ngx-spinner> -->

<ngx-spinner 
  bdColor = "rgba(90,90,90,0.8)" 
  size = "medium" 
  color = "#fff" 
  type = "ball-elastic-dots" 
  [fullScreen] = "true">
  <p style="color: white" > Please wait... </p>
</ngx-spinner>