<hr />

<div style="width: 100vw; margin: 30px">
  <div class="row-center">
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      style="margin: 5px"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      style="margin: 5px"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      style="margin: 5px"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
