<div class="background">
<section class="h-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                        style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">OneSheds</h4>
                                </div>

                                <form [formGroup]="form" (ngSubmit)="submit()">
                                    <p>Please login to your account</p>
                                    <formly-form [form]=" form" [fields]="fields" [model]="model">
                                    </formly-form>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button type="submit"
                                            class="btn btn-primary btn-block gradient-custom-2 mb-3">
                                            Log in
                                        </button>
                                        <a class="text-muted" href="#!">Forgot password?</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Don't have an account?</p>
                                        <button type="button" class="btn btn-outline-danger ml-2"
                                            routerLink="/signup">Create new</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small">
                                    The Warehouse Company offers a host of Consultancy Services to
                                    manufacturing facilities & warehouses that would like to improve their supply chain
                                    management and to companies that getting ready to enter the industry using the
                                    latest methods and technology.
                                </p>
                                <p class="small">
                                    The Warehouse Company offers a host of Consultancy Services to
                                    manufacturing facilities & warehouses that would like to improve their supply chain
                                    management and to companies that getting ready to enter the industry using the
                                    latest methods and technology.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>