<div class="box">
  <div class="heading" (click)="toggle()">
    <mat-icon aria-hidden="false" aria-label="check">{{ arrowIcon }}</mat-icon>
    {{ heading }}
  </div>

  <div class="wrapper" *ngIf="isOpen" [@enterAnimation]>
    <div *ngFor="let item of data" class="item">
      <mat-icon aria-hidden="false" aria-label="check" *ngIf="item.value"
        >check</mat-icon
      >
      <mat-icon aria-hidden="false" aria-label="close" *ngIf="!item.value"
        >close</mat-icon
      >
      {{ item.item }}
    </div>

    <div *ngFor="let item of dataStr" class="itemStr">
      <mat-icon aria-hidden="false" aria-label="close">info</mat-icon>
      <div>{{ item.item }}</div>
    </div>
  </div>
</div>
