.box {
    padding-top: 5px;
    padding-bottom: 5px;
}
.box:hover{
    background-color: whitesmoke;
}


.heading {
    align-items: center;
    display: flex;
    padding: 5px;
}

.h-select{
    font-weight: bold;
    border: none;
}

.heading:hover{
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    background-color: whitesmoke;
}

.item {
    width: 300px; 
    display: flex; 
    flex-direction:row;
    padding: 2px;
}

.itemStr {
    width: 300px; 
    align-items: center;
    display: flex; 
    flex-direction: row; 
    padding: 2px;
}
