# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.DS_Store

/dev/vars/
apps/ag-warhousemen/service/bin/gin.log
apps/ag-warhousemen/service/service.log
apps/ag-warhousemen/service/bin/service.log
apps/ag-warhousemen/bin/service.log
apps/ag-warhousemen/bin/db
apps/ag-warhousemen/bin/db
apps/ag-warhousemen/service/bin/db/generic
apps/ag-depositors/web/node_modules/
apps/ag-depositors/web/.angular/
apps/ag-depositors/service/bin/
apps/ag-warhousemen/service/bin/

*.log

