<div class="background">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" routerLink="/signin">One Sheds</a>
    </nav>
    <main>

        <div>
            <div class="box-header">
                <button class="btn btn-sm btn-outline-primary" (click)="fetchProfile()">Refresh Data</button>
            </div>
            <pre class="box bg-dark">
                {{profileData}}
            </pre>

            <hr>
                <div class="box-header">
                    <button class="btn btn-sm btn-outline-primary" (click)="fetchWarehouse()">Refresh WH Data</button>
                </div>
            <pre class="box bg-info">
                {{warehouses}}
            </pre>
        </div>
    </main>
</div>
