
.mid-box-container {
    display: flex;
    flex-direction: row;
}

.locality-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box-item {
    border-right: 1px solid rgba(128, 128, 128, 0.234);
}