<div style="padding: 10px; background-color: whitesmoke" *ngIf="data">
  <app-details-top [data]="data"></app-details-top>

  <div class="mid-box-container">
    <app-gallery></app-gallery>
    <app-details-mid [data]="data"></app-details-mid>
  </div>

  <div class="desc">
    <div><strong>Description</strong></div>
    <p>
      Industrial shed available for lease on prime location good connectivity
      from the main Dadari road. The shed is located on wide road, Its good for
      all industrial use like logistic, and other industry. The surrounded area
      is occupied with all MNC like TCS, Samsung mother diary etc. Interested
      client can contact us for more details and option all across Noida.
    </p>
  </div>

  <div style="margin-top: 5px">
    <app-details-surronding [data]="data.surroundings"></app-details-surronding>
  </div>

  <div class="locality-card">
    <app-details-distance
      class="box-item"
      [data]="data.distanceFrom"
    ></app-details-distance>

    <app-details-locality-rating
      style="flex-grow: 3"
      [data]="data.localityRatings"
    ></app-details-locality-rating>
  </div>

  <div class="details">
    <div><strong>Other details</strong></div>

    <app-details-brief
      [heading]="'Amenities'"
      [data]="data.amenities"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Equipments'"
      [data]="data.equipments"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Safety equipments'"
      [data]="data.safetyEquipments"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Storage options'"
      [data]="data.storageOptions"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Value added services'"
      [data]="data.vas"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Industries served'"
      [data]="data.industrieServed"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Accreditation'"
      [data]="data.accrediatation"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Documents- Before construction'"
      [dataStr]="data.documents.before"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Documents- After construction'"
      [dataStr]="data.documents.after"
    ></app-details-brief>

    <app-details-brief
      [heading]="'Prohibbited items'"
      [dataArray]="data.prohibbited"
    ></app-details-brief>
  </div>
</div>
