.mid-box-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.desc {
    margin-top: 5px;
    padding: 10px;
    padding-right: 50px;
    background-color: white
}

.details{
    padding: 10px; 
    margin-top: 5px;
    background-color: white;
}