/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: rgb(92, 89, 89)
}

h2 {
    color: rgb(68, 73, 130);
}

.col-center {
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.row-center {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.link-btn{
    height: 1.3rem !important;
    padding: 1px !important;
    margin: 1px !important;
    line-height: 1.3rem !important;
}

.text-muted {
    color: gray;
}

.btn-row button,
.btn-row a {
  margin-right: 4px;
}

a {
    color: rgb(93, 108, 148);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
