<div class="box" *ngIf="data">
  <div class="box-item grow-1">
    <div>
      <span style="font-size: x-large">{{
        data.cost.price | currency: "INR"
      }}</span>
      per sqft
    </div>

    <div>
      <a href="javascript:void()">Check cost breakup</a>
    </div>
    <div>
      <a href="javascript:void()">See facility charges</a>
    </div>
  </div>

  <div class="v-divier"></div>
  <div class="box-item grow-2">
    <div>{{ data.name }}</div>
    <div>{{ data.address }}</div>
    <div style="flex-grow: 2"></div>
    <div class="flex-row attractions-box">
      <div *ngFor="let item of attractions" class="attration">
        <span> {{ item }} </span>
      </div>
    </div>
  </div>

  <div class="v-divier"></div>
  <div class="box-item grow-1">
    <app-star-rating [stars]="4"></app-star-rating>
    <app-user-review [reviews]="4"></app-user-review>

    <div><a href="javascript:void()">booking history</a></div>
  </div>

  <div class="v-divier"></div>
  <div class="box-item">
    <div style="display: flex; flex-direction: row">
      <button mat-icon-button color="primary">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>difference</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div style="margin: 5px; text-align: center">
      <a href="javascript:void()">Draft contract</a><br />
      <a href="javascript:void()">Terms and conditions</a>
    </div>
  </div>

  <div class="v-divier"></div>
  <div class="box-item">
    <div style="display: flex; flex-direction: row">
      <button mat-icon-button color="primary">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>difference</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div style="margin: 5px; text-align: center">
      <a href="javascript:void()">Draft contract</a><br />
      <a href="javascript:void()">Terms and conditions</a>
    </div>
  </div>
</div>
