.nav > li > a {
   color: rgb(120, 120, 120);
   // background-color: rgba(222, 222, 222, 0.5);
}

.nav > li > a.active,
.nav > li > a:hover,
.nav > li > a:focus {
   border-radius: 10px;
   color: rgb(30, 30, 30);
   background-color: rgba(190, 190, 190, 0.9);
}

.options {
   margin: 2px;
   padding: 2px;
   min-width: 224px;
   border-right: 1px solid lightgrey;
   height: 80vh;
}
