
<div class="d-flex flex-row-reverse p-2">

    <div ngbDropdown class="d-inline-block" *ngIf="warehouses.length > 0">
        <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>{{curDisplayed}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let wh of warehouses; let i = index" (click)="onChange(i)">{{displayName(wh)}}</button>
            <hr>
            <button ngbDropdownItem (click)="onNew()">Register new</button>
        </div>
        
    </div>

    <button class="btn btn-secondary" (click)="onNew()" *ngIf="warehouses.length == 0">Register new</button>

</div>

<div class="h-sep"> </div>
  
<div class="d-flex" *ngIf="!!curWarehouse">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills options" orientation="vertical">
        <li ngbNavItem="1">
        <a ngbNavLink>General details</a>
        <ng-template ngbNavContent>
            <app-wh-general [data]="curWarehouse" (updateEvent)="onUpdate($event)"></app-wh-general>
        </ng-template>
        </li>
        <li ngbNavItem="2">
        <a ngbNavLink>Infrastructure details</a>
        <ng-template ngbNavContent>
            <app-wh-infra [data]="curWarehouse" (updateEvent)="onUpdate($event)"></app-wh-infra>
        </ng-template>
        </li>
        <li ngbNavItem="3">
        <a ngbNavLink>Surroundings</a>
        <ng-template ngbNavContent>
            <app-wh-surrounding [data]="curWarehouse" (updateEvent)="onUpdate($event)"></app-wh-surrounding>
        </ng-template>
        </li>
        <li ngbNavItem="4">
            <a ngbNavLink>Terms & Conditions</a>
            <ng-template ngbNavContent>
                <app-wh-terms-conditions [data]="curWarehouse" (updateEvent)="onUpdate($event)"></app-wh-terms-conditions>
            </ng-template>
        </li>
        
        <li ngbNavItem="5">
            <a ngbNavLink>Photos Galary</a>
            <ng-template ngbNavContent>
                <img src="../../../assets/img/coming-soon-png.png" class="w-50 h-50">
            </ng-template>
            </li>
        <li ngbNavItem="6">
            <a ngbNavLink>Videos Galary</a>
            <ng-template ngbNavContent>
                <img src="../../../assets/img/coming-soon-png.png" class="w-50 h-50">
            </ng-template>
        </li>
        <li ngbNavItem="7">
            <a ngbNavLink>FAQ</a>
            <ng-template ngbNavContent>
                <app-wh-faq [data]="curWarehouse" ></app-wh-faq>
            </ng-template>
        </li>

        <li ngbNavItem="8">
            <a ngbNavLink>Knowledge Base</a>
            <ng-template ngbNavContent>
                <app-wh-knowledgebase [data]="curWarehouse" ></app-wh-knowledgebase>
            </ng-template>
        </li>

        <li ngbNavItem="9">
            <a ngbNavLink>User Review and Rating</a>
            <ng-template ngbNavContent>
                <app-wh-review [data]="curWarehouse" ></app-wh-review>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="w-100"></div>
</div>



