.box {
    padding: 5px;
}
.lbl{
    font-size: x-small;
    margin-right: 5px;
}
.txt{
    max-width: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link{
    font-size: x-small;
}