.search-form {
    margin-top: 10px;
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }
  
  .search-full-width {
    width: 100%;
  }

  .qna-box-wrapper {
    margin-top: 5px;
    min-height: 300px;
  }
  .qna-box {
      padding: 10px;
  }

  .post-ques {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    padding: 10px 20px 10px 20px;
    margin: 5px;

    border-radius: 0.2rem;
    background-color: antiquewhite;

    text-align: center;
  }