<div class="col-center search-banner">
  <div class="search-lbl">India's largest warehouses community</div>

  <mat-card class="search-c">
    <mat-card-content>
      <div class="serach-ctrl">
        <mat-form-field appearance="standard" class="city-ctrl">
          <mat-label>Select city</mat-label>
          <mat-select [(value)]="city">
            <mat-option value="Bengaluru">Bengaluru</mat-option>
            <mat-option value="Hyderabad">Hyderabad</mat-option>
            <mat-option value="Chennai">Chennai</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" class="locality-ctrl">
          <mat-label>Type Locality</mat-label>
          <input
            type="text"
            placeholder="Locality"
            aria-label="Locality"
            matInput
            [matAutocomplete]="auto"
            [(ngModel)]="locality"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let locality of localities" [value]="locality">
              {{ locality }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="ctrl"
          (click)="onSearch()"
        >
          Search
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
