/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// https://www.npmjs.com/package/ngx-toastr
// regular style toast
@import '~ngx-toastr/toastr';
// @import '~ngx-toastr/toastr-bs4-alert';

.h-sep {
   width: 100%;
   background-color: lightgrey;
   height: 1px;
}
