<div style="margin-top: 20px"></div>
<div>
  <span class="header">Users ratings</span>
</div>
<div>
  <div class="star-box">
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-off"> star</mat-icon>
    <a href="#">& Up</a>
  </div>

  <div class="star-box">
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-off">star</mat-icon>
    <mat-icon class="star-off"> star</mat-icon>
    <a href="#">& Up</a>
  </div>

  <div class="star-box">
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-off">star</mat-icon>
    <mat-icon class="star-off">star</mat-icon>
    <mat-icon class="star-off"> star</mat-icon>
    <a href="#">& Up</a>
  </div>

  <div class="star-box">
    <mat-icon class="star-on">star</mat-icon>
    <mat-icon class="star-off">star</mat-icon>
    <mat-icon class="star-off">star</mat-icon>
    <mat-icon class="star-off">star</mat-icon>
    <mat-icon class="star-off"> star</mat-icon>
    <a href="#">& Up</a>
  </div>
</div>
<div style="margin-top: 5px"></div>
