.header-box {
    padding-left: 20px;
    padding-right: 20px;
    height: 3rem;
    // background-color: aquamarine;
    color: gray;
    display: flex;
    align-items: center;
    justify-items: center;
}