<div class="col-center">
  <h2>..... Our services .....</h2>

  <div class="f-container">
    <mat-card class="f-item">
      <mat-icon class="f-icon" aria-hidden="false" aria-label="search icon"
        >search</mat-icon
      >
      <p class="f-text">Search and Indentify warehouses as per your need</p>
    </mat-card>

    <mat-card class="f-item">
      <mat-icon
        class="f-icon"
        aria-hidden="false"
        aria-label="supervised_user_circle icon"
        >supervised_user_circle</mat-icon
      >
      <p class="f-text">Avail contract making service from OneSheds</p>
    </mat-card>

    <mat-card class="f-item">
      <mat-icon class="f-icon" aria-hidden="false" aria-label="file_copy icon"
        >file_copy</mat-icon
      >
      <p class="f-text">Place request to review warehouse legal documents</p>
    </mat-card>
    <mat-card class="f-item">
      <mat-icon class="f-icon" aria-hidden="false" aria-label="payments icon"
        >payments</mat-icon
      >
      <p class="f-text">Make payments effortlessly with OneSheds payments</p>
    </mat-card>

    <mat-card class="f-item">
      <mat-icon class="f-icon" aria-hidden="false" aria-label="home icon"
        >flag</mat-icon
      >
      <p class="f-text">Place request to review warehouse legal documents</p>
    </mat-card>
  </div>
</div>
