.clauses {
   background-color: whitesmoke;
   margin-top: 1px;
}

.add-new-btn {
   margin-right: 40px;
}

.btn-delete {
   color: rgb(88, 83, 83);
}
.btn-delete :hover {
   color: rgb(184, 75, 11);
}
