<div>
  <span class="header">Warehouse types</span>
</div>
<div>
  <mat-checkbox class="chk-box" [(ngModel)]="checked"
    >Public Warehouses</mat-checkbox
  >
  <mat-checkbox class="chk-box" [(ngModel)]="checked"
    >Private Warehouses</mat-checkbox
  >
  <mat-checkbox class="chk-box" [(ngModel)]="checked"
    >Bonded Storage</mat-checkbox
  >
  <mat-checkbox class="chk-box" [(ngModel)]="checked"
    >Smart Warehouse</mat-checkbox
  >

  <mat-checkbox class="chk-box" [(ngModel)]="checked"
    >Cold Storage</mat-checkbox
  >
  <mat-checkbox class="chk-box" [(ngModel)]="checked"
    >Pick, Pack & Ship Warehouse</mat-checkbox
  >
</div>
<div style="margin-top: 10px"></div>
