<mat-toolbar color="primary">
  <a
    mat-icon-button
    aria-label="home icon"
    routerLink="/home"
    routerLinkActive="active"
  >
    <mat-icon>home</mat-icon>
  </a>

  <span> OneShedS</span>

  <span class="example-spacer"></span>

  <button mat-button color="accent">Post your property</button>
  <div class="tb-divider"></div>

  <button mat-button aria-label="signup">Signup</button>
  <div class="tb-divider"></div>

  <button mat-button aria-label="login">Login</button>
  <div class="tb-divider"></div>

  <button mat-icon-button aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
