<div class="modal-header">
   <h4 class="modal-title">Book Warehouse</h4>
   <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
   >
      <span aria-hidden="true">&times;</span>
   </button>
</div>
<div class="modal-body">
   <input
      class="mr-2"
      type="number"
      [(ngModel)]="space"
      placeholder="Enter sqft area"
   />

   <button (click)="book()">Place Order</button>

   <div class="item">
      <pre> {{ item | json }} </pre>
   </div>
</div>
<div class="modal-footer">
   <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')"
   >
      Close
   </button>
</div>
