<div *ngIf="data">
  <strong>Locality ratings</strong>
  <div class="items-box">
    <div>
      <div class="header text-muted">COMMUTEING</div>
      <div>
        <div class="rating">
          <app-star-rating
            [stars]="data.commuting.publicTransport"
          ></app-star-rating>
          <div class="title">Public transport</div>
        </div>

        <div class="rating">
          <app-star-rating
            [stars]="data.commuting.connectivity"
          ></app-star-rating>
          <div class="title">Connectivity</div>
        </div>

        <div class="rating">
          <app-star-rating [stars]="data.commuting.traffic"></app-star-rating>
          <div class="title">Traffic</div>
        </div>
      </div>
    </div>

    <div>
      <div class="header text-muted">PLACES OF INTERESTS</div>
      <div class="rating">
        <app-star-rating
          [stars]="data.placesOfInterest.hospital"
        ></app-star-rating>
        <div class="title">Hospitals</div>
      </div>

      <div class="rating">
        <app-star-rating
          [stars]="data.placesOfInterest.market"
        ></app-star-rating>
        <div class="title">Market</div>
      </div>

      <div class="rating">
        <app-star-rating
          [stars]="data.placesOfInterest.restaurants"
        ></app-star-rating>
        <div class="title">Restaurants</div>
      </div>

      <div class="rating">
        <app-star-rating
          [stars]="data.placesOfInterest.schools"
        ></app-star-rating>
        <div class="title">Schools</div>
      </div>
    </div>

    <div>
      <div class="header text-muted">ENVIRONMENT</div>
      <div class="rating">
        <app-star-rating
          [stars]="data.enviromnent.cleanliness"
        ></app-star-rating>
        <div class="title">Cleanliness</div>
      </div>

      <div class="rating">
        <app-star-rating
          [stars]="data.enviromnent.neighborhood"
        ></app-star-rating>
        <div class="title">Neighborhood</div>
      </div>

      <div class="rating">
        <app-star-rating [stars]="data.enviromnent.roads"></app-star-rating>
        <div class="title">Roads</div>
      </div>

      <div class="rating">
        <app-star-rating [stars]="data.enviromnent.safety"></app-star-rating>
        <div class="title">Safety</div>
      </div>
    </div>
  </div>
</div>
