<mat-card class="card-box" *ngIf="data">
  <mat-card-title-group>
    <mat-card-title class="card-title"> {{ data.name }}</mat-card-title>
    <mat-card-subtitle>
      <span> {{ data.address }}</span>
      <button mat-icon-button color="warn" aria-label="google map">
        <mat-icon>place</mat-icon>
      </button>

      <button mat-icon-button color="primary" aria-label="social media share">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <div class="card-center-content">
      <div><img mat-card-lg-image src="{{ data.thumbUrl }}" /></div>

      <div class="card-center-content-col">
        <div class="wh-type test" color="accent">{{ data.warehouseType }}</div>
        <app-star-rating
          [stars]="data.usersRating"
          [reviews]="data.userReviews"
        ></app-star-rating>

        <button mat-button color="primary" class="link-btn">
          {{ data.localityRating }}/5 Locality rating
        </button>
        <br />

        <app-verification [verified]="data.verified"></app-verification>

        <!-- <br />
        <button mat-icon-button aria-label="photo">
          <mat-icon>photo_camera</mat-icon>
        </button>

        <button mat-icon-button aria-label="video" *ngIf="data.hasVideo">
          <mat-icon>smart_display</mat-icon>
        </button> -->
      </div>

      <div class="v-divier"></div>

      <div class="card-center-content-col">
        <div>
          <span
            >Rate: <b style="font-size: large">{{ data.rate }} ₹/sqft</b></span
          >
          <span *ngIf="data.rateNegotiable"> (Negotiable)</span>
          <span *ngIf="!data.rateNegotiable"> (Non-negotiable)</span>
        </div>
        <div>
          Security deposit: {{ data.securityDeposit | currency: "INR" }}
        </div>
        <div>Available: {{ data.totalSize - data.blockedSize }} sqft</div>
        <div>Total: {{ data.totalSize }} sqft</div>
        <div>Minimum tenure: {{ data.minTenure }} years</div>
        <div>Shared: {{ data.shared | yesNo }}</div>
        <div>Insured: {{ data.shared | yesNo }}</div>
      </div>

      <div class="v-divier"></div>

      <div class="card-center-content-col">
        <div>WDRA reg: {{ data.wdraReg | yesNo }}</div>
        <div>OneShedS verified: {{ data.verified | yesNo }}</div>
        <div>Operating since: {{ data.operatingSince }}</div>
        <div>Property documents: Yes</div>
        <div>Green warehouse: {{ data.greenWarehouse | yesNo }}</div>

        <div>
          <div>On road: {{ data.onRoad | yesNo }}</div>
          <div>
            <span>Parking available: </span>
            <span *ngIf="data.parking > 0">{{ data.parking }}</span>
            <span *ngIf="data.parking == 0">Not available</span>
          </div>
        </div>
      </div>

      <div class="v-divier"></div>

      <div class="card-center-content-action-col">
        <a
          class="action-button"
          mat-raised-button
          color="primary"
          target="_blank"
          [routerLink]="['/detail', data.id]"
          >View more details</a
        >

        <button class="action-button" mat-raised-button color="primary">
          Click to shortlist
        </button>

        <button class="action-button" mat-raised-button color="primary">
          Click to compare
        </button>

        <button class="action-button" mat-raised-button color="primary">
          Schedule a call
        </button>

        <button class="action-button" mat-raised-button color="accent">
          Book warehouse
        </button>
      </div>
    </div>

    <app-chips-list
      [heading]="'Amenities'"
      [items]="data.amenities"
    ></app-chips-list>
  </mat-card-content>

  <div class="wh-desc">
    <p class="text-muted">{{ data.description }}</p>
  </div>
</mat-card>
